.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}    

.header a {
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.logo, .header-right{
    display: flex;
    align-items: center;
    gap: 16px;
  }

.hero {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 400px;
    margin-right: 40px;
}

.button {
    color: #3882F6;
}

.hero-right  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #1b3a64;
    width: 600px;
    height: 150px;
    margin-left: 40px;
}

.hero-right p {
    color: #F9FAF8;
    text-align: center;
}

.hero-left p {
    font-size: 18px;
    color: #F9FAF8;
    display: flex;
    align-self: flex-start;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

footer {
    background: #1F2937;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #F9FAF8;
}