.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}    

.header a {
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.logo, .header-right{
    display: flex;
    align-items: center;
    gap: 16px;
  }

.hero {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 400px;
    margin-right: 40px;
}

.button {
    text-decoration: none;
    font-weight: 400;
    color: #F9FAF8;
    background-color: #3882f6;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px 25px;
}

.hero-right  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #1b3a64;
    width: 600px;
    height: 150px;
    margin-left: 40px;
}

.hero-right p {
    color: #F9FAF8;
    text-align: center;
}

.hero-left p {
    font-size: 18px;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.info {
    background-color: #fff;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 30px;
    color: #1F2937;
}

.containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid blue;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.quote {
   background-color: #E5E7EB; 
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.quote p {
    width: 800px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-weight: bolder;
    margin-top: 150px;
}

.call-to-action {
    background-color: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    background-color: #3882f6;
    width: 900px;
    height: 120px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-text {
    width: 500px;
    margin-right: 60px;
}

h3 {
    color: #F9FAF8;
    font-size: 20px;
}

.action-text p {
    color: #F9FAF8;
    font-size: 15px;
}

.cta-button {
    text-decoration: none;
    font-weight: 400;
    color: #F9FAF8;
    background-color: #3882f6;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px 25px;
  }

footer {
    background: #1F2937;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #F9FAF8;
}